<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body class="">
   <div class="m-20 text-center text-3xl font-bold">{{ title.upper() }}</div>
   <div class="text-center mx-3 xl:mx-96">
    {% for i in articles %}
        <div class="mb-8 h-auto grid  grid-cols-5 rounded-md shadow-xl">
            <!-- <div class="col-span-2 h-auto">
                <img  class="rounded-l-md w-auto h-auto" src="{{i.image}}" alt="">  
            </div> -->
            <div class="col-span-5 h-auto bg-gray-200 pl-4 rounded-md ">
                <div class="text-xl font-semibold mt-2">{{ i.title }}</div>
                <!-- <div class="mt-3">{{i.description}}</div> -->
                <div class="mt-3 text-lg font-bold"><a class="font-normal text-blue-800" href="{{i.link}}">Click here to read full article</a>  </div>
            </div>
        </div>
       <!-- <div class="h-44 bg-gray-200 rounded-md shadow-xl">
           <div class="float-left bg-white">
               <img  class="rounded-l-md w-80 h-44" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" alt=""> 
            </div>
            <div style="width: 440px" class="h-44 float-right text-left">
                <div class="text-xl font-semibold mt-2">iehgujlvdvwoit;nsvd c kitgnrsfv cjkjefvnd c uiegjvd mc</div>
                <div class="mt-3">iujldv nikujkrgtns vlcijkbnltrkgjsf kxvcnlijq5ktegndv cikohlkj4wentsg diucjkbeq 4ltgiuldvj ljq jlnfkdv mcojletnrdsg </div>
                <div class="mt-3">Link of article - <a href="https://google.com">https://google.com</a>  </div>
            </div>
       </div> -->
       {% endfor %}
   </div>
</body>
</html>