<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>News Article Classification</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center m-8 text-4xl font-bold">Curated Feeds</h1>
        <div class="grid grid-cols-2 gap-6 m-6">
            <a href="{{url_for('article',varible_name='entertainment')}}" class="cursor-pointer">
                <div class="text-6xl text-white text-bold pt-20 text-center grid-col-span-1 h-64 bg-gray-500">
                      Entertainment
                </div>
            </a>
            <a href="{{url_for('article',varible_name='politics')}}" class="cursor-pointer">
                <div class="text-6xl text-white text-bold pt-20 text-center grid-col-span-1 h-64 bg-blue-500">
                      Politics
                </div>
            </a>
            <a href="{{url_for('article',varible_name='technology')}}" class="cursor-pointer">
                <div class="text-6xl text-white text-bold pt-20 text-center grid-col-span-1 h-64 bg-red-500">
                     Technology
                </div>
            </a>
            <a  href="{{url_for('article',varible_name='sports')}}" class="cursor-pointer">
                <div class="text-6xl text-white text-bold pt-20 text-center grid-col-span-1 h-64 bg-green-500">
                    Sports
                </div>
            </a>
        </div>
        <!-- <div class="text-left ml-4">
            {%for i in articles%}
                <li>{{i}}</li>
            {%endfor%}
        </div> -->
    </div>
</body>
</html>